body,
html {
    min-height: 100%;
    margin: 0;
}

body{
    padding-top:100px;
    position: relative;
    font-family: 'poppins', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    /* font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-weight: 700;
}

.container{
    margin-top: 15px;
}

#content{
    min-height: 600px;
}

#banner_image {
    padding-bottom: 50px;
    text-align: center;
    color: #f8f8f8;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
    margin-bottom: 25px;
}

#banner_content {
    position: relative;
    padding: 3% 6%;
    margin-top: 12%;
    margin-bottom: 12%;
    max-width: 660px;
}

#item_list {
    padding-top: 50px;
}


/*This code ensures that when we navigate to a particular section of a page, the section does not get lost behind the header*/
#cameras:before, #watches:before, #shirts:before{
    display: block; 
    content: " "; 
    margin-top: -85px; 
    height: 85px; 
    visibility: hidden;
}

.section__title{
    font-size: 4rem;
}

.section__subtitle{
    font-size: 1.6rem;
    font-weight: 400;
}

.shop-now-btn{
    background-color: #006EFD;
    padding: 1.3rem 3rem;
    border-radius: 5rem;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
    transition: 0.2s;
}

.shop-now-btn:hover{
    color: #FFF;
    text-decoration: none;
    background: #0966df;
}


.products__div{
    margin: auto;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    padding: 0 8rem;
    justify-content: space-between;
}

.one__product{
    width: 30rem;
    height: 30rem;
    border: 1px solid #000000a1;
    text-align: center;
    padding: 2rem;
    margin: 1rem 0;
}

.products__container{
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.one__product img{
    width: 80%;
    height: 60%;
    margin-bottom: 2rem;
    object-fit: cover;
    object-position: center;
}

.one__product-name{
    margin-bottom: 1.5rem;
}


.one__product-link{
    padding: 1rem 2rem;
    border-radius: 5rem;
    text-decoration: none;
    background-color: #006EFD;
    font-weight: 500;
    color: #FFF;
}

.one__product-link:hover{
    background: #0000ff;   
    color: #FFF;
    text-decoration: none;
}










#login-panel .panel-footer{
    font-weight:normal;
}

footer {
    padding: 10px 0;
    background-color: #101010;
    color:#9d9d9d;
    width: 100%;
}

.red{
    color:red;
}

#settings-container{
    margin-bottom:10px;
}

.navbar-brand{
    font-size:20px;
}

@media(max-width:768px) {
    #banner_content {
        padding-bottom: 15%;
    }
    footer{
        text-align:left;
    }
}

.remove_item_link{
    color:#0000ff;
    
} 